#pokedexParagrafos {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}
body {
  background-color: black;
}
p {
  margin-bottom: 8px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.header {
  margin-top: 3vh;
}
.pokedex {
  width: 30%;
}
